@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
box-sizing: border-box;
}


#header {
	background-color: #F64747;
	padding-bottom: 96px;
	padding-top: 96px;
	color: #fff;

}

#header > h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	display: inline-block;
	text-align: center;
}

.icon {
	margin-top: 11px;
}


body { 
	font-family: Tahoma, Geneva, sans-serif; 
	color: #000; 
	margin: 0; 
	padding: 0; 
	text-align: center;
}

#box {
	margin-top: 30px;
	margin-bottom: -2px;
}


#list { 
	width: 480px;
	height: auto; 
	margin: 0 auto;
	margin-top: 100px; 
	padding: 10px;
}


.name {
	width: 400px; 
	height: 46px; 
	padding: 10px; 
	border-radius: 5px; 
	border: solid #D4D4D4 1px; 
	margin-top: 4px;
	margin-bottom: 42px; 
	font-size: 24px;
	margin-left: 0.9rem;
}

input{ 
	margin-top: 5px;
	color: #F64747;
}

input:focus {
    background-color: #ECF0F1;
    color: #888888;
}


.add {
	margin-left: 8px; 
	margin-top: 12px; 
	cursor: pointer;
}

#remove {
	margin-left: 13px; 
	margin-top: 12px; 
	cursor: pointer;
}


a:link {
	font-size: 16px;
    color: #888888;
    text-decoration: none;
}

a:hover {
	color: #C4C4C2;
}

button {
  width: 7rem;
  background-color: #F64747;
  border-color: #F54545;
  text-shadow: none;
  border-style: none;
  border-radius: 2rem; 
  padding: 0.8rem 1rem;
  color: #fff;
  font-size: 17px; 
  margin-bottom: 6px;
  }

button:hover {
  background-color: #D41919;
  border-color: #D11D1D; 
  cursor: pointer; 
}


#footer {
width: 100%;
margin-top: 5.8em;
padding: 4em 0;
background-color: #ECF0F1;
text-align: center;
}

#footer > p {
color: #888888;
font-family: 'Raleway', Tahoma, Geneva, sans-serif; 
font-size: 15px;
}




